@font-face {
    font-family: 'CerebriSansBold';
    src: url('../fonts/CerebriSansBold.woff');
}
@font-face {
    font-family: 'CerebriSansBook';
    src: url('../fonts/CerebriSansBook.woff');
}

.regular{
    font-family:CerebriSansBook !important;
}
.bold{
    font-family: CerebriSansBold !important;
}


html,body{
    font-family: CerebriSansBook !important;
    background: linear-gradient(#FFFFFF, #D9D9D9) !important;
    height: 100% !important;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 54px !important;
    margin: 0 !important;
    line-height: 0.7 !important;
}

h2{
    font-size: 38px !important;
    margin: 0 !important;
}

h3{
    font-size: 34px !important;
}

h4{
    font-size: 19px !important;
}

h5{
    font-size: 14px !important;
    
}

h6{
    font-size: 11px !important;
    
}

p{
    font-size: 13px !important;
}

.light{
    font-weight: lighter;
}
.bold{
    font-weight: bold;
}

.w-100{
    width: 100%;
}
.w-90{
    width: 90%;
}
.w-80{
    width: 80%;
}
.w-85{
    width: 85%;
}
.w-70{
    width: 70%;
}
.w-60{
    width: 60%;
}
.w-50{
    width: 50%;
}
.w-40{
    width: 40%;
}
.w-30{
    width: 30%;
}
.w-20{
    width: 20%;
}
.w-10{
    width: 10%;
}
.w-5{
    width: 5%;
}

.h-100{
    height: 100%;
}

.container {
    width: 100%;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}

.box-shadow-sm{
    box-shadow: 0px 4px 22px -11px;
}

.rounded-xl {
    border-radius: 45px !important;
}
.rounded-lg {
    border-radius: 30px !important;
}
.rounded-md{
    border-radius: 25px !important;
}
.rounded-sm{
    border-radius: 20px !important;
}
.rounded-xs{
    border-radius: 17px !important;
}
.rounded-circle{
    border-radius: 90px !important;
}

.rounded-left-md{
    border-top-left-radius: 25px !important;
    border-bottom-left-radius: 25px !important;
}
.rounded-right-md{
    border-top-right-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
}

.border-sm-white{
    border: 2px solid #FFFFFF !important;
}

.bg-gradient-primary-grey{
    background: linear-gradient(#FFFFFF, #D9D9D9);
}
.bg-gradient-grey{
    background: linear-gradient(#F0F0F0, #D1D1D1);
}

.bg-white{
    background-color: #FFFFFF;
}

.bg-blue{
    background-color: #0A3A77;
}

.white{
    color: #FFFFFF !important;
}

.grey{
    color:#D1D1D1
}

.dark-grey{
    color: #848484;
}

.blue{
    color: #0A3A77;
}

.float{
    float: left;
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

.vertical-bottom{
    vertical-align: bottom;
}


/* ===========Sobad Style=========== */

.image-slide{
    height: 150px !important;
    width: 150px !important;
}

.btn-icon{
    width: 30px !important;
    height: 30px !important;
    margin-left: auto;
}

.main
{         
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}

.sobad-drodown-item{
    background-color: #FFF !important;
    color: #848484 !important;
    border-radius: 7px;
}

.sobad-dropdown {
    background-color: unset !important;
    border: unset !important;
    border-radius: unset !important;
}

.icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: flex-end;
}

.content-icon{
    display: inline-block;
    font-size: 16px;
    line-height: 34px;
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: bottom;
}
.sub-title{
    padding-right:70px;
}

.btn-drop{
    height: 45px;
}

.content-title{
    display: grid;
    align-items: center;
}



/* Image style */
.box-img {
    width: 100% !important;
    height: 26vh !important;
    max-height: 100%;
}

.img-stadio {
    width: 100% !important;
    height: 26.5vh;
    margin-top: -0.1rem;
    margin-bottom: 5%;
    margin-left: -0.9rem;
}

.img-board {
    width: 100%!important;
    height: auto;
    margin-top: 15%;
    border-radius: 40px;
}

.img-port {
    width: 100%!important;
    height: auto;
    margin-top: 26%;
    margin-left: 6%;
}
.img-baby {
    width: 120%!important;
    height: auto;
    
}

.img-weight {
    width: 95%!important;
    height: auto;
    margin-left: 5%;
}

.img-lila {
    width: 85%!important;
    height: auto;

}
.btn-arrow-next{
    content:url("../img/btn-arrow-next.png");
    width: 27px !important;
    height:27px !important;
}

.btn-arrow-down{
    content:url("../img/btn-arrow-down.png");
    width: 27px !important;
    height: 27px !important;
}

.cobtent-title {
    padding-right: 25px;
}

.card-carousel {
    margin: 9%;
}


/* ==============OwlCarousel Custom Style============ */
.owl-item{
    height: 320px !important;
}

.manufac{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.btn:hover{
    color:black !important;
}


.owl-nav,button{
    border: none !important;
    font-size: 40px;
    background-color: unset !important;
}

.owl-prev, .owl-next {
    position:absolute;
}

.owl-prev {
    left: -15px;
    top: 60%;
}

.owl-next {
    right: -15px;
    top: 60%;
}







/* ==============Bootstrap Style Modifed============== */

.dropdown-toggle::after {
    display: unset !important;
    margin-left: unset !important;
    vertical-align: unset !important;
    border-top: unset !important;
    border-right: unset !important;
    border-bottom: unset !important;
    border-left: unset !important;
}

.btn-light:hover{
    background-color: #FFFFFF !important;
    border-color: #FFFFFF !important;
}

.btn-light{
    background-color: #FFFFFF !important;
}

.btn:hover{
    background-color: #FFFFFF !important;
    border-color: #FFFFFF !important;
}

button.bg-light:hover {
    background-color: #FFFFFF !important;
}

.dropdown-item:hover{
    background-color: #0A3A77 !important;
    color: #FFFFFF !important;
}


.dropdown-menu.sobad-dropdown.show {
    width: 182px !important;
    min-width: auto;
}

.dropdown-item {
    width: 157px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 0px !important;
    height: 25px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-around !important;
}

.dropdown-menu{
    padding: 0px !important;
}



/* ===========Responsive Mobile Style============== */

@media only screen and (max-width: 619px) {
    html,body{
        font-family: CerebriSansBook !important;
    background: linear-gradient(#FFFFFF, #D9D9D9) !important;
    height: fit-content !important;
    min-height: 100%;
    margin: 0;
    padding: 0;
    }

    .main{
        position: fixed !important;
        padding-top: 20px;
    }


    h1 {
        font-size: 64px !important;
        margin: 0 !important;
        line-height: 37px !important;
    }
    
    h2{
        font-size: 48px !important;
        margin: 0 !important;
    }
    
    h3{
        font-size: 34px !important;
    }
    
    h4{
        font-size: 14px !important;
    }
    
    h5{
        font-size: 11px !important;
        
    }
    
    h6{
        font-size: 8px !important;
        
    }
    
    p{
        font-size: 12px !important;
        line-height: 15px;
    }

    .card-pc {
        display: none;
    }

    .content{
        width: 90% !important;
    }

    .image-slide {
        height: 120px !important;
        width: 120px !important;
    }

    .manufac{
        display: none;
    }

    .dropdown-menu.sobad-dropdown.show {
        width: 140px !important;
        min-width: auto;
    }

    .dropdown-item {
        width: 117px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        padding: 0px !important;
        height: 25px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: space-around !important;
    }

    .box-img {
        width: 135px !important;
        height: 135px !important;
        max-height: 100%;
    }

    .img-stadio {
        width: 100% !important;
        height: 138px;
        margin-top: -0.1rem;
        margin-bottom: 5%;
        margin-left: -0.9rem;
    }

    .img-board {
        width: 100%!important;
        height: 120px;
        border-radius: 33px;
    }

    .img-baby {
        width: 120%!important;
        height: auto;
    }

    .img-weight {
        width: 100%!important;
        height: 146px;
    }

    .img-lila {
        width: 92%!important;
        height: 132px;
    }

    .btn-arrow-next{
        content:url("../img/btn-arrow-next.png");
        width: 17.31px !important;
        height: 17.31px !important;
    }
    
    .btn-arrow-down{
        content:url("../img/btn-arrow-down.png");
        width: 17.31px !important;
        height: 17.31px !important;
    }

    .owl-item{
        text-align: -webkit-center;
    }

    .box-shadow-sm {
        box-shadow: 0px 4px 11px -6px;
    }

    .btn-drop {
        height: 36px;
    }
}

/* ===========Responsive Tablet Style============== */
@media only screen and (max-width: 864px) and (min-width:620px) {
    html,body{
        font-family: CerebriSansBook !important;
    background: linear-gradient(#FFFFFF, #D9D9D9) !important;
    height: fit-content !important;
    min-height: 100%;
    margin: 0;
    padding: 0;
    }


    .card-mobile{
        display: none;
    }

    .content{
        max-width: 85% !important;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: 50px;
    }
    .image-slide {
        height: 230px !important;
        width: 230px !important;
    }

    .owl-item{
        height: 100vw !important;
      
    }

    .box-img {
        width: 100% !important;
        height: 176px !important;
        max-height: 100%;
    }

    .img-stadio {
        width: 100% !important;
        height: 180px;
        margin-top: -0.1rem;
        margin-bottom: 5%;
        margin-left: -0.9rem;
    }

    .img-board {
        width: 100%!important;
        height: 156px;
        border-radius: 40px;
    }


    .owl-next {
        right: -15px;
        top: 33%;
    }

    .owl-prev {
        left: -15px;
        top: 33%;
    }
}

/* ===========Responsive Laptop Style============== */
@media only screen and (min-width: 865px) {
    .card-mobile{
        display: none !important;
    }

    .owl-nav{
        display: none !important;
    }

    .box-img {
        width: 180px !important;
        height: 180px !important;
        max-height: 100%;
    }

    .img-stadio {
        width: 180px !important;
        height: 185px;
        margin-top: -0.1rem;
        margin-bottom: 5%;
        margin-left: -0.9rem;
    }

    .img-board {
        width: 180px !important;
        height: 180px;
        margin-top: 6%;
        border-radius: 40px;
    }
}

/* ===========Responsive PC Style============== */

@media only screen and (min-width: 1720px) {
    html,body{
        font-family: CerebriSansBook !important;
    background: linear-gradient(#FFFFFF, #D9D9D9) !important;
    height: fit-content !important;
    min-height: 100%;
    margin: 0;
    padding: 0;
    }

    h1 {
        font-size: 90px !important;
        margin: 0 !important;
    }
    
    h2{
        font-size: 52px !important;
        margin: 0 !important;
    }
    
    h3{
        font-size: 34px !important;
    }
    
    h4{
        font-size: 28px !important;
    }
    
    h5{
        font-size: 25px !important;
        
    }
    
    h6{
        font-size: 21px !important;
        
    }
    
    p{
        font-size: 20px !important;
    }
    .content{
        max-width: 60% !important;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: 50px;
    }

    .owl-item{
        height: 500px !important;
    }

    .image-slide{
        height: 300px !important;
        width: 300px !important;
    }

    .card-mobile{
        display: none;
    }
    .dropdown-item {
        width: 182% !important;
        text-align: center !important;
    }
    .owl-nav{
        display: none !important;
    }

    .cobtent-title {
        padding-right: 100px;
    }

    .box-img {
        width: 300px !important;
        height: 300px !important;
        max-height: 100%;
    }

    .img-stadio {
        width: 300px !important;
        height: 308px;
        margin-top: -0.1rem;
        margin-bottom: 5%;
        margin-left: -1.9rem;
    }

    .img-board {
        width: 300px !important;
        height: 300px;
        margin-top: 7%;
        border-radius: 40px;
    }

}


/* ================Landing Page Contact Style=============== */
.sobad-wrapper {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 100% !important;
}